In [66]:
import pandas as pd
import numpy as np

### Exploring Data

In [70]:
df = pd.read_csv("/home/umang-uw/Downloads/house-votes-84.csv.bz2", header = None)
df.columns = ["Membership","Bill1", "Bill2", "Bill3", "Bill4","Bill5", "Bill6", "Bill7", "Bill8","Bill9", "Bill10", "Bill11", "Bill12","Bill13", "Bill14", "Bill15","Bill16"]

In [71]:
#The number of yeas,nays and others by the column.
for i in df.columns: 
    df[i]=df[i].replace('?', np.NaN)
    a[i] = df[i].dropna().value_counts().to_frame()
a.drop(['Membership'], axis=1)

,Bill1,Bill2,Bill3,Bill4,Bill5,Bill6,Bill7,Bill8,Bill9,Bill10,Bill11,Bill12,Bill13,Bill14,Bill15,Bill16
n,236.0,192.0,171.0,247.0,208.0,152.0,182.0,178.0,206.0,212.0,264.0,233.0,201.0,170.0,233.0,62.0
y,187.0,195.0,253.0,177.0,212.0,272.0,239.0,242.0,207.0,216.0,150.0,171.0,209.0,248.0,174.0,269.0
?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#Number of Republicans and Democrats
df['Membership'].value_counts(normalize=True).to_frame()

            Membership
democrat      0.613793
republican    0.386207

### Which variable gives the best branch

In [84]:
yeasayers = df[df['Bill1'] == 'y']
naysayers = df[df['Bill1'] == 'n']

percentageYea = yeasayers['Membership'].value_counts(normalize=True)
percentageNay = naysayers['Membership'].value_counts(normalize=True)

print(percentageNay, percentageYea)

(republican    0.567797
democrat      0.432203
Name: Membership, dtype: float64, democrat      0.834225
republican    0.165775
Name: Membership, dtype: float64)

In [94]:
#Entropy 

h_yeasayers = (-percentageYea.republican* np.log2(percentageYea.republican)) + (-percentageYea.democrat* np.log2(percentageYea.democrat))
h_naysayers = (-percentageNay.republican* np.log2(percentageNay.republican)) + (-percentageNay.democrat* np.log2(percentageNay.democrat))

print("Yeasayers Entropy: ", h_yeasayers)
print("Naysayers Entropy: ", h_naysayers)

#Weighted Entropy 
weight_yea = yeasayers.count()['Bill1']
weight_nay = naysayers.count()['Bill1']

weighted_entropy = (weight_yea*h_yeasayers + weight_nay*h_naysayers)/(weight_yea+weight_nay)
print(weighted_entropy)

('Yeasayers Entropy: ', 0.647948835478525)
('Naysayers Entropy: ', 0.9866967086735613)
0.83694292076

In [99]:
#For all the features
results = pd.DataFrame(columns = ['Feature','Weighted Entropy'])
    
for feature in df.columns.drop(['Membership']):
    yeasayers_temp = df[df[feature] == 'y']
    naysayers_temp = df[df[feature] == 'n']
    percentageYea_temp = yeasayers_temp['Membership'].value_counts(normalize=True)
    percentageNay_temp = naysayers_temp['Membership'].value_counts(normalize=True)
    
    h_yeasayers_temp = (-percentageYea_temp.republican* np.log2(percentageYea_temp.republican)) + (-percentageYea_temp.democrat* np.log2(percentageYea_temp.democrat))
    h_naysayers_temp = (-percentageNay_temp.republican* np.log2(percentageNay_temp.republican)) + (-percentageNay_temp.democrat* np.log2(percentageNay_temp.democrat))
    weight_yea_temp = yeasayers_temp.count()[feature]
    weight_nay_temp = naysayers_temp.count()[feature]
    
    weighted_entropy_temp = (weight_yea_temp*h_yeasayers_temp + weight_nay_temp*h_naysayers_temp)/(weight_yea_temp+weight_nay_temp)
    
    to_append = pd.DataFrame({'Feature': [feature],'Weighted Entropy': [weighted_entropy_temp]})
    results = results.append(to_append,ignore_index=True)


results

   Feature  Weighted Entropy
0    Bill1          0.836943
1    Bill2          0.959725
2    Bill3          0.519205
3    Bill4          0.206111
4    Bill5          0.533355
5    Bill6          0.818473
6    Bill7          0.757289
7    Bill8          0.614420
8    Bill9          0.655859
9   Bill10          0.956768
10  Bill11          0.848411
11  Bill12          0.557894
12  Bill13          0.720090
13  Bill14          0.612774
14  Bill15          0.725166
15  Bill16          0.896750

In [104]:
#The Best Split
results.loc[results['Weighted Entropy'].idxmin()]

Feature                Bill4
Weighted Entropy    0.206111
Name: 3, dtype: object